<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.couponservice.mapper.SeckillActivityMapper">

    <!-- 统计满足条件的秒杀活动数量 -->
    <select id="countSeckills" resultType="int">
        SELECT COUNT(*) FROM seckill_activity
        <where>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="couponId != null">
                AND coupon_id = #{couponId}
            </if>
        </where>
    </select>

</mapper>